<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.erlide.org/Erlang" 
       class = "org.erlide.erlang.ErlangPackage"
       genModel = "org/erlide/Erlang.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.core.resources.IProject"
           class="org.erlide.project.ProjectAdapterFactory">
        <adapter
              type="org.erlide.project.model.IErlangProject">
        </adapter>
     </factory>
  </extension>

   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="ISO-8859-1"
            describer="org.erlide.erlang.content.ErlangContentDescriber"
            file-extensions="erl,hrl"
            id="org.erlide.core.content.erlang"
            name="Erlang source file"
            priority="normal">
         <describer
               class="org.erlide.erlang.content.ErlangContentDescriber">
         </describer>
      </content-type>
   </extension>




</plugin>
