<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.erlide.org/Erlang" 
       class = "org.erlide.erlang.ErlangPackage"
       genModel = "org/erlide/Erlang.genmodel" /> 
	
  </extension>
  <extension
        point="org.eclipse.core.runtime.adapters">
     <factory
           adaptableType="org.eclipse.core.resources.IProject"
           class="org.erlide.project.ProjectAdapterFactory">
        <adapter
              type="org.erlide.project.model.IErlangProject">
        </adapter>
     </factory>
  </extension>





</plugin>
