<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="erl,hrl"
            id="org.erlide.Erlang"
            name="Erlang Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="org.erlide.Erlang.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="org.erlide.Erlang.validate">
         <activeWhen>
            <reference
                    definitionId="org.erlide.Erlang.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="org.erlide.Erlang.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="org.erlide.Erlang" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.erlide.Erlang"
            name="Erlang">
            <keywordReference id="org.erlide.ui.keyword_Erlang"/>
        </page>
        <page
            category="org.erlide.Erlang"
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="org.erlide.Erlang.coloring"
            name="Syntax Coloring">
            <keywordReference id="org.erlide.ui.keyword_Erlang"/>
        </page>
        <page
            category="org.erlide.Erlang"
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="org.erlide.Erlang.templates"
            name="Templates">
            <keywordReference id="org.erlide.ui.keyword_Erlang"/>
        </page>
    </extension>
    <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="org.erlide.Erlang"
            name="Erlang">
            <keywordReference id="org.erlide.ui.keyword_Erlang"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="org.erlide.ui.keyword_Erlang"
            label="Erlang"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="org.erlide.Erlang.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="org.erlide.Erlang.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.erlide.Erlang.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="org.erlide.Erlang.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="org.erlide.Erlang.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="erl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="erl">
        </resourceServiceProvider>
    </extension>

    <!-- marker definitions for org.erlide.Erlang -->
    <extension
            id="erlang.check.fast"
            name="Erlang Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.fast"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="erlang.check.normal"
            name="Erlang Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.normal"/>
        <persistent value="true"/>
    </extension>
    <extension
            id="erlang.check.expensive"
            name="Erlang Problem"
            point="org.eclipse.core.resources.markers">
        <super type="org.eclipse.xtext.ui.check.expensive"/>
        <persistent value="true"/>
    </extension>
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="hrl">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="hrl">
        </resourceServiceProvider>
    </extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="org.erlide.Erlang.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="org.erlide.Erlang.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
    <!-- quickfix marker resolution generator for org.erlide.Erlang -->
    <extension
            point="org.eclipse.ui.ide.markerResolution">
        <markerResolutionGenerator
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.erlide.erlang.ui.erlang.check.fast">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.erlide.erlang.ui.erlang.check.normal">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
        <markerResolutionGenerator
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
            markerType="org.erlide.erlang.ui.erlang.check.expensive">
            <attribute
                name="FIXABLE_KEY"
                value="true">
            </attribute>
        </markerResolutionGenerator>
    </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.erlide.project.ui.wizards.newWizards"
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.erlide.ui.wizards.NewErlangModuleWizard"
            icon="platform:/plugin/org.erlide.common.ui/icons/full/obj16/erlang_NewModule.png"
            id="org.erlide.project.ui.wizards.newmodule"
            name="Module">
      </wizard>
   </extension>

   	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.IRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="org.erlide.Erlang.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
    <extension point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
         <command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
               style="push">
            <visibleWhen checkEnabled="false">
               <reference
                     definitionId="org.erlide.Erlang.Editor.opened">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="org.erlide.Erlang.compare.contentViewers"
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="erl,hrl">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="org.erlide.Erlang.compare.contentMergeViewers"
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="erl,hrl" label="Erlang Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="org.erlide.Erlang.editors.documentProviders"
            class="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="erl,xrl">
    </provider>
  </extension>
  <!--extension
        point="org.eclipse.ui.navigator.navigatorContent">
     <navigatorContent
           activeByDefault="true"
           contentProvider="org.erlide.ui.ErlangExecutableExtensionFactory:org.eclipse.jface.viewers.ITreeContentProvider"
           icon="icons/erl/erlang_srcFile.gif"
           id="org.erlide.erlang.ui.navigatorContent"
           labelProvider="org.erlide.ui.ErlangExecutableExtensionFactory:org.erlide.ui.labeling.ErlangLabelProvider"
           name="Erlang file">
        <triggerPoints>
           <instanceof
                 value="org.eclipse.core.resources.IFile">
           </instanceof>
        </triggerPoints>
     </navigatorContent>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 pattern="org.erlide.erlang.ui.navigatorContent">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension-->

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.erlide.ui.ErlangPerspective"
            icon="platform:/plugin/org.erlide.common.ui/icons/full/obj16/perspective.gif"
            id="org.erlide.project.ui.erlangPerspective"
            name="Erlang">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.erlide.project.ui.erlangPerspective">
         <perspectiveShortcut id="org.eclipse.ui.resourcePerspective"/>
         <actionSet
               id="org.eclipse.debug.ui.debugActionSet">
         </actionSet>
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
         <newWizardShortcut
               id="org.erlide.project.ui.wizards.newotpproject">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.erlide.project.ui.wizards.newproject">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.erlide.project.ui.wizards.newmodule">
         </newWizardShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut id="org.erlide.project.ui.erlangPerspective"/>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.erlide.erlang.ui.views.ParseDebugView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.erlide.project.ui.wizards.newWizards"
            class="org.erlide.ui.wizards.NewErlangProjectWizard"
            descriptionImage="platform:/plugin/org.erlide.common.ui/icons/erl/erlang160.gif"
            finalPerspective="org.erlide.project.ui.erlangPerspective"
            hasPages="true"
            icon="platform:/plugin/org.erlide.common.ui/icons/full/obj16/newproject.png"
            id="org.erlide.project.ui.wizards.newproject"
            name="Erlang Project"
            project="true">
         <description>
            Create a new Erlang project.
         </description>
      </wizard>
      <wizard
            category="org.erlide.project.ui.wizards.newWizards"
            class="org.erlide.ui.wizards.NewOtpErlangProjectWizard"
            descriptionImage="platform:/plugin/org.erlide.common.ui/icons/erl/erlang160.gif"
            finalPerspective="org.erlide.project.ui.erlangPerspective"
            hasPages="true"
            icon="platform:/plugin/org.erlide.common.ui/icons/full/obj16/newproject.png"
            id="org.erlide.project.ui.wizards.newotpproject"
            name="Erlang OTP Project"
            project="true">
         <description>
            Create a new Erlang project with a standard OTP structure.
         </description>
      </wizard>
      <category
            id="org.erlide.project.ui.wizards.newWizards"
            name="Erlang">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.erlide.erlang.ui.internal"
            name="Internal Erlide tools">
      </category>
      <view
            category="org.erlide.erlang.ui.internal"
            class="org.erlide.erlang.ui.views.ParseDebugView"
            icon="icons/sample.gif"
            id="org.erlide.erlang.ui.views.ParseDebugView"
            name="Parser debug view">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
<!--    
   <extension
        point="org.eclipse.ui.handlers">
     <handler
           class="org.erlide.ui.ErlangExecutableExtensionFactory:org.erlide.ui.debug.DebugPrintHandler"
           commandId="org.erlide.erlang.ui.debugPrint">
     </handler>
  </extension>

  <extension
        point="org.eclipse.ui.commands">
        <command name="Debug print"
              id="org.erlide.erlang.ui.debugPrint">
        </command>
  </extension>
   
  <extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
        <command
            commandId="org.erlide.erlang.ui.debugPrint"
            style="push">
            <visibleWhen
                  checkEnabled="false">
                  <iterate>
       <adapt type="org.eclipse.core.resources.IResource">
          <test property="org.eclipse.core.resources.name"
                value="*.?rl"/>
       </adapt>
    </iterate>
            </visibleWhen>
        </command>
    </menuContribution>
    </extension>
   
<extension point="org.eclipse.ui.menus">
    <menuContribution locationURI="popup:#TextEditorContext?after=additions">
        <command
            commandId="org.erlide.erlang.ui.debugPrint"
            style="push">
            <visibleWhen
	                  checkEnabled="false">
	               <reference
	                     definitionId="org.erlide.Erlang.Editor.opened">
	               </reference>
	            </visibleWhen>
        </command>
    </menuContribution>
</extension>
-->
</plugin>
