<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="compilers" name="Erlang compilers" schema="schema/compilers.exsd"/>
   <extension-point id="builders" name="Erlang builders" schema="schema/builders.exsd"/>
   <extension
         id="erlangBuilder"
         name="Erlang project builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.erlide.builder.ErlangBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="erlangNature"
         name="Erlang project nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.erlide.builder.ErlangNature">
         </run>
      </runtime>
      <builder
            id="org.erlide.builder.erlangBuilder">
      </builder>
   </extension>
   <extension
         id="erlangBuildProblem"
         name="Erlang problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.erlide.builder.compilers">
      <compiler
      		id="org.erlide.builder.compiler.erlcompiler"
            class="org.erlide.builder.resourcecompiler.ErlCompiler">
      </compiler>
      <compiler
      		id="org.erlide.builder.compiler.makecompiler"
            class="org.erlide.builder.resourcecompiler.MakeCompiler">
      </compiler>
   </extension>
   <extension
         point="org.erlide.builder.builders">
      <builder
            class="org.erlide.builder.BuilderExtensionFactory:org.erlide.builder.SgsnBuilder"
            id="org.erlide.builder.sgsnbuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.xtext.ui.shared.overridingGuiceModule">
      <module
            class="org.erlide.builder.ErlangBuilderModule">
      </module>
   </extension>

</plugin>
